:root {
    --blue: #5daaee;
    --orange: #efaa46;
}

body {
    font-family: 'trebuchet ms';
    margin: 0;
    background-color: aliceblue;
}

nav a{
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    width: 99vw;
    background-color: var(--blue);
    padding: 5px 0.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}

header h1 {
    font-size: 2.5em;
    margin-left: 10px;
}

header * {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

header nav {
    display: inline-table;
    margin-left: auto;
}

header nav a {
    font-size: 1.3em;
    padding: 2px 5px;
    border-radius: 5px;
}

.header-nav-selected {
    background-color: var(--orange);
}

.header-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header-logo {
    height: 50px;
    background-color: #1a7cd2;
    border-radius: 50%;
}

.header-title-logo-holder {
    display: flex;
}

@media only screen and (max-width: 760px) {
    header{
        display: grid;
    }

    header nav {
        margin-top: 10px;
        margin-right: auto;
    }

    .header-title-logo-holder
    {
        margin-left: auto;
        margin-right: auto;
    }

    header nav a {
        font-size: 1em;
    }
}
  
