@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --blue: #256fd6;
    --orange: #efaa46;
    --grey: rgba(166, 189, 213, 0.205);
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color: aliceblue;
}

header {
    background-color: var(--blue);
}