main {
    padding: 1px 1px 1px;
    margin: 30px 25px 0;
    text-align: center;
    background-color: var(--orange);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

main h2 {
    font-weight: normal;
}