body {
	margin: 0;
	overflow: hidden;
}

.clock-hand {
	transform-origin: 50% 50%;
	transition: 100ms cubic-bezier(0.54,-0.05, 0.48, 1.55) all;
}

#clock {
	position: absolute;
}

#clock-holder {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#background-video{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}

#clock-background{
	width: 800px;
	width: 800px;
	position: absolute;
}

#menu-button {
	position: absolute
}

@media screen and (max-width: 720px) {
	#clock-holder {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 620px) {
	#clock-holder {
		transform: scale(0.6);
	}
}

@media screen and (max-width: 540px) {
	#clock-holder {
		transform: scale(0.4);
	}
}
