@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --navy: #343444;
    --blue: #1A9EC7;
    --silver: #c2c2c2;
    --red: #A5121A;
    --green: #C4D5A7;
    --header-footer-color: #393d3e;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #252727;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main * {
    animation: fadeInAnimation ease 1.5s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    will-change: opacity, transform;
}

.carousel-item {
    animation: none;
    height: 50vh;
}

.carousel-item > img {
    height: 100%;
}

.fade-in-running {
    animation-play-state: running;
}

.fade-in-end {
    animation: none;
}

header {
    background-color: var(--header-footer-color);
}

header .dropdown-item:hover {
    background-color: rgb(37, 36, 36);
}

.navbar-toggler-icon {
    border: white;
}

footer {
    background-color: var(--header-footer-color);
}

footer a {
    text-decoration: none;
    color: rgb(74, 168, 231);
}

footer a:hover {
    color: rgb(52, 107, 224)
}

/*
Misc
*/

.title-main {
    background-color: var(--navy);
    padding: 0.5em;
    border-radius: 0.3em;
    margin: 1em auto;
}

.title-secondary {
    background-color: var(--blue);
    padding: 0.3em;
    border-radius: 0.3em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}